{% extends "layout.html" %}

{% block title %}
    Addcash
{% endblock %}

{% block main %}
    <form action="/addcash" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="ENTER YOUR CASH" type="number"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Add</button>
            </div>
        </fieldset>
    </form>
{% endblock %}